$color-background-color-1:#efe5ff;
$color-background-color-2:black;
$color-background-color-3:white;
$color-backogrund-color-4:grey;
$color-background-color-5:#f8f8f8;
$color-background-color-6:#a7ccdc;
$color-background-color-7:#fafafa;
$color-background-color-8:#f7f7f9;
$color-background-color-9:#0071e3;
$color-background-color-10:#f5533e;
$color-background-color-11:#323232;
$color-background-color-12:#f7f8fa;
$color-background-color-13:#f7f7f7;
$color-background-color-14:#f2f2f2;

.conteiner-ipad-pro {
    color: $color-background-color-3;
    background-color: $color-background-color-2;
}

.color-background-watch-2 {
    background-color: $color-background-color-14;
}

.color-background-watch {
    background-color: $color-background-color-13;
}

.color-font-watch {
    color: $color-backogrund-color-4;
}

.color-fondo-airpods-pro-max {
    background-color: $color-background-color-10;
    color: $color-background-color-3;
}

.color-beats {
    color: $color-background-color-3;
}

.background-color-beats {
    background-color: $color-background-color-11;
}

.color-fondo {
    background-color: #fafafa;
}

.color-font {
    color: $color-background-color-3;
    background-color: $color-background-color-2;
}

.background-color-support-2 {
    background-color: $color-background-color-5;
}

.color-background-tv-app-2 {
    background-color: $color-background-color-8;
}

.background-color-apple {
    background-color: $color-background-color-3;
    color: $color-background-color-2;
}

.color-conteiner {
    background-color: $color-background-color-1;
}

.color-conteiner-2 {
    background-color: $color-backogrund-color-4;
}

.background-ipad-pro {
    color: $color-background-color-3;
    background-color: $color-background-color-2;
}

.background-color-support {
    background-color: $color-background-color-5;
}