body {
    font-family: 'Roboto', sans-serif;
}

.font-h2 {
    font-size: 300%;
}

.index-learn-more {
    font-size: 120%;
}

.size-font-watch {
    font-weight: 800;
}

.h1-apple-tv {
    font-weight: 1000;
}

.h1-tv {
    margin-top: 5%;
    font-weight: 800;
}

.h4-apple-tv {
    font-weight: 700;
}

.h1-watch-size {
    font-weight: bolder;
}



.index-buy {
    font-size: 120%;
    margin-left: 4%;
}