.style-image-iphone12-purple {
    width: 70%;
}

.logo-apple-navbar {
    width: 50%;
}

.image-ipad-pro {
    width: 80%;
    margin-bottom: 10%;
}

.watch-fotos {
    margin-top: 30%;
    width: 100%;
}

.image-imac-style {
    width: 90%;
}

.watchs-image {
    margin-top: 5%;
    width: 100%;
}

.images-apple-tv {
    width: 100%;
}

.color-fondo-airpods-pro-max img {
    width: 70%;
}

.image-Air-pods-max {
    width: 100%;
}


.image-apple {
    width: 27px;
}

.image-airPods {
    width: 80%;
}

.size-images-support {
    width: 50%;
}

.links-icons {
    display: block;
}

.images-icons {
    margin-top: 5%;
    width: 15%;
}

.image-support {
    width: 100%;
}


.apps-apple-tv-size-image {
    margin-top: 5%;
    width: 60%;
}

.iPads-images {
    width: 50%;
}

.image-ipad {
    width: 100%;
}

.ipad-pro-image-size {
    width: 80%;
}