@import "images";
@import "colors";
@import "button";
@import "footer";
@import "mediaqueries";
@import "fonts";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}