.div-1 {
    background-image: url("https://cdn.aarp.net/content/dam/aarp/auto/2017/07/1140-hyundai-ioniq-great-cars-road-trips-esp.imgcache.revfd63981c76a67e8a4ed28622bb76883e.web.jpg");
    width: 100%;
    padding-top: max-content;
}

.div-1:hover {
    background-image: url("https://fotos.perfil.com/2020/01/08/trim/1280/720/con-el-vision-s-sony-incursiona-en-el-mundo-de-los-autos-853254.jpg");

}